<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<form action="/books/search" method="GET">
        <input type="text" name="title" id="title"/>
        <button id="search-button" class="btn btn-success" type="submit">SEARCH</button>
</form>