body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card-img-top{
  height: 200px;
  width:130px;
  /* object-fit: cover;
  object-fit: left; */
}
