@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(44, 94, 158, 90%);
  padding-bottom: 1vh;
}

a {
  color: #00B7FF;
}

.light-white{
  background-color: #F6F8F8
}

.grey{
  background-color: #D7DDE2
}

.grey:hover{
  background-color: #d7dde2be
}

.light-blue{
  background-color: #5995DD;
}

.light-blue:hover {
  background-color: #5994ddc7; 
}

.navbar{
  padding-left: 10vw;
  margin-bottom: 1vh;
  background-color: #D7DDE2;
}
.icon{
  width: 40px;
}

.card{
  padding: 1vw;
}

.book-container{
  height: 470px;
  margin-top: 1vh;
}

.review-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1vh;
}

.img-body{
  display: flex;
  justify-content: center;
}
.card-img-top{
  height: 200px;
  width:130px;
  /* object-fit: cover;
  object-fit: left; */
}

.btn-review{
  margin-bottom: 0.5vh;
  width: 10vw;
}

.btn-center-review{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.myform{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #F6F8F8;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 1.1rem;
  outline: 0;
  max-width: 500px;
}

.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -25px;
    background-color: #F6F8F8;
    width: 50px;
    text-align: center;
  }
.hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

