body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(44, 94, 158, 90%);
}

a {
  color: #00B7FF;
}

.grey{
  background-color: #D7DDE2
}

.grey:hover{
  background-color: #d7dde2be
}

.light-blue{
  background-color: #5995DD;
}

.light-blue:hover {
  background-color: #5994ddc7; 
}

.navbar{
  padding-left: 10vw;
  margin-bottom: 1vh;
  background-color: #D7DDE2;
}
.card{
  padding: 1vw;
}

.book-container{
  height: 470px;
  margin-top: 1vh;
}

.review-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1vh;
}

.img-body{
  display: flex;
  justify-content: center;
}
.card-img-top{
  height: 200px;
  width:130px;
  /* object-fit: cover;
  object-fit: left; */
}

.btn-review{
  margin-bottom: 0.5vh;
  width: 10vw;
}

.btn-center-review{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



