
<div class="row mt-5">
    <div class="col-md-5 mx-auto">
        <div class="myform form ">
            <div class="mb-3">
                    <div class="col-md-12 text-center">
                        <h1>Login</h1>
                    </div>
            </div>
            <form id="login" class="mb-2" action="/login" method="POST">
                <div class="form-group mb-3">
                    <label class="form-label">Username:</label>
                    <input class="form-control" type="text" name="username" placeholder="Enter Username" required/>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Password:</label>
                    <input class="form-control" type="password" name="password" placeholder="Enter Password" required/>
                </div>
                <div class="col-md-12 text-center">
                    <button form="login" class="col-11 btn light-blue active text-light" type="submit">Log In</button>
                    {{!-- <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button> --}}
                </div>
            </form>
            <div class="col-md-12 mb-2">
                    <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or">or</span>
                    </div>
            </div>
            <div class="col-md-12 mb-3 text-center mb-4">
                <form id="demo" action="/login" method="POST">
                    <input class="form-control" type="hidden" name="username" value="emperorpenguin"/>
                    <input class="form-control" type="hidden" name="password" value="12345">
                    <button form="demo" class="col-11 btn light-blue active text-light" type="submit">Try demo</button>
                </form>
            </div>
            <div class="form-group">
                <p class="text-center mb-0">Don't an have account? <a href="/signup" id="signup">Sign up here</a></p>
            </div>
        </div>
    </div>
</div>


{{#if msg}}
    <h3>{{msg}}</h3>
{{/if}}